<li>
	{{name}}

	<button class="change-burger" data-id="{{id}}" data-newhamburger="{{burger}}">
		{{#if burger}}Devour Hamburger!!{{else}}Mistake{{/if}}
	</button>

	<button class="delete-hamburger" data-id="{{this.id}}">Remove Hamburger</button>
</li>
