<li>
	{{name}}

	<button class="change-patty" data-id="{{id}}" data-newsleep="{{patty}}">
		{{#if patty}}Here's a meat patty!{{else}}Here's a veggie patty!{{/if}}
	</button>

	<button class="delete-hamburger" data-id="{{this.id}}">Remove patty</button>
</li>
